

    <h1 style="text-align: center">Local Artists</h1>
    <h2 style="text-align: center">Local Movement in Puerto Rico</h2>
    <br>
    <br>
    <br>
    <br>
<!--Local artist table  -->
    <div>
      <table class="table" style="color:lightgray;">
        <thead>
          <tr>
            <th>Artist</th>
            <th>Band/Name</th>
            <th>Contact</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><img src="img/IMG_3570.jpg" width="350" height="300"/></td>
            <td>Band Name</td>
            <td>Description and Contact</td>
          </tr>
          <tr>
            <td><img src="img/IMG_3570.jpg" width="350" height="300"/></td>
            <td>Band Name</td>
            <td>Description and Contact</td>
          </tr>
          <tr>
            <td><img src="img/IMG_3570.jpg" width="350" height="300"/></td>
            <td>Band Name</td>
            <td>Description and Contact</td>
          </tr>
        </tbody>
        </table>
      </div>
      <hr>
      <footer class="container-fluid text-center" s>
        <div class="panel panel-default">
          <div class="panel-body">
            <i>copyright</i>
          </div>
          <div class="panel-footer"><i> Property of Alberto Colon and Gabriel Acosta </i> </div>
          </div>
      </footer>
