
    <h1 style="text-align: center">About Us</h1>
    <br>
    <br>

    <hr>
    <div style="background-color:darkgray">
      <p style="text-align: center">

        Building a website is, in many ways, an exercise of willpower. It’s tempting to get distracted by the bells and whistles of the design process, and forget all about creating compelling content. But it's that last part that's crucial to making inbound marketing work for your business.

        So how do you balance your remarkable content creation with your web design needs? It all starts with the "About Us" page.
        For a remarkable about page, all you need to do is figure out your company's unique identity, and then share it with the world. Easy, right? Of course it's not easy. That said, the "About Us" page is one of the most important pages on your website, and it can't go neglected. It also happens to be one of the most commonly overlooked pages, which is why you should make it stand out.
        Download our collection of awesome 'About Us' page examples here, and get tips for making yours great, too.

        But it can be accomplished. In fact, there are some companies out there with remarkable "About Us" pages, and there are elements of them that you can emulate on your own website. By the end of this post, showing off how your company's greatness won't seem like such a challenging feat.

        10 of the Best About Us Page Examples
        1) Yellow Leaf Hammocks

        Why the "About Us" Page Rocks: It tells us a story.

        When you have a great story about how your product or service was built to change lives, share it. The "About Us" page is a great place for it to live, too. Good stories humanize your brand, providing context and meaning for your product. What’s more, good stories are sticky -- which means people are more likely to connect with them and pass them on.

        Yellow Leaf Hammocks tells users about its product by describing how the hammocks empower artisan weavers and their families. The company breaks down different pieces of the story into sections that combine words and easily digestible graphics, painting a picture instead of big chunks of text. They're clear about why they're different: "Not a Charity," the page reads. And then: "This is the basis for a brighter future, built on a hand up, not a handout."

        by7axLZLAo.gif

        Every company has a story to tell, so break out your storytelling skills from that random English class you took years ago and put them to work on your "About Us" page. Using descriptive and emotive copy and gorgeous graphics, an "About Us" page with a story works harder for your business than a generic one.

        2) Eight Hour Day

        Why the "About Us" Page Rocks: It's human.

        People tend to think that "About Us" pages have to sound formal to gain credibility and trust. But most people find it easier to trust real human beings, rather than a description that sounds like it came from an automaton. Trying to sound too professional on your "About Us" page results in stiff, “safe” copy and design -- the perfect way to make sure your company blends in with the masses.

        Instead, Eight Hour Day showcases the people behind the company and humanizes its brand. Introducing the founders by name and featuring the photos of them on the "About Us" page drives home the point that Nathan and Katie are -- as they so astutely put it -- "two individuals with a passion for creativity -- creativity makes us happy."
      </p>
    </div>
  <hr>
  <br>
    <footer class="container-fluid text-center" s>
      <div class="panel panel-default">
        <div class="panel-body">
          <i>copyright</i>
        </div>
        <div class="panel-footer"><i> Property of Alberto Colon and Gabriel Acosta </i> </div>
        </div>
    </footer>
